<p></p>

<div class="ui container">
  <div class="ui menu"">
    <a href="#" class="item active"><strong><%= plural_table_name.titleize %></strong></a>
    <%%= link_to "Novo", new_<%= singular_table_name %>_path, class: 'item' %>
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <th><%= attribute.human_name %></th>
        <% end -%>
        <th width="250">Ações</th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
          <% attributes.reject(&:password_digest?).each do |attribute| -%>
          <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
          <% end -%>
          <td>
            <div class="ui buttons">
            <%%= link_to 'Exibir', <%= singular_table_name %>, class: 'ui blue button' %>
            <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'ui blue button' %>
            <button class="ui red button remover" data-id="<%%= <%= singular_table_name %>.id %>">Remover</button>
            </div>
          </td>
        </tr>
      <%% end %>
    </tbody>
  </table>

</div>


<div class="ui basic modal">
  <div class="ui icon header">
    <center>
    <h2>Atenção!</h2>
    <i class="trash alternate icon"></i>
    </center>
  </div>
  <div class="content">
    <center><p>Deseja realmente apagar esse registro?</p></center>
  </div>
  <div class="actions">
    <center>
    <div class="ui grey basic cancel inverted button">
      <i class="remove icon"></i>
      Cancelar
    </div>

    <a id="modal-remove-link" class="ui red ok inverted button" rel="nofollow" data-method="delete" href="<%= plural_table_name %>/">Apagar</a>
    </center>
  </div>
</div>

<script>
  $('.remover').click( function(e){
    e.preventDefault();
    document.getElementById('modal-remove-link').setAttribute('href', '<%= plural_table_name %>/' + this.dataset.id);
    $('.ui.basic.modal').modal('show');
  });
</script>